{% extends '@CloudDrive/CloudDriveViews/layout.html.twig' %}

{% block content %}
    <div id="fos_user_bundle_placeholder">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}