<div id="files_wrapper">
    <div class="progress_bar_wrapper">
        <label for="file_upload_progress_bar">File name: 'whahaha.jps' progress: 80%</label>
        <progress id="file_upload_progress_bar"  max="100" value="80"></progress>
    </div>
    <div class="files_header_row well well-sm row">
        <div class="file_header_icon hidden-xs col-xs-2 col-sm-1 col-md-1"></div>
        <div class="files_header_name col-xs-10 col-sm-4 col-md-11">Name</div>
    </div>
    <div class="files_block">
    </div>
</div>

<div id="files_row_base" style="display: none;">
    <div class="files_row well well-sm row">
        <div class="files_check col-xs-2 col-sm-1 col-md-1"></div>
        <div class="files_info col-xs-8 col-sm-10 col-md-8">
            <div class="files_row_name row">
                <div class="files_name col-xs-12 col-sm-12 col-md-12"></div>
                <div class="files_mod col-xs-6 col-sm-6 col-md-6"></div>
                <div class="files_size col-xs-6 col-sm-6 col-md-6"></div>
                <div class="files_url" style="display: none"></div>
                <div class="files_type" style="display: none"></div>
            </div>
        </div>
        <div class="files_action col-md-3">
            <div class="files_fav hidden-xs col-sm-4 col-md-4"><i class="fa fa-star-o" aria-hidden="true"></i></div>
            <div class="files_share hidden-xs col-sm-4 col-md-4"><i class="fa fa-share-alt" aria-hidden="true"></i></div>
            <div class="files_menu hidden-xs col-sm-4 col-md-4">
                <i class="fa fa-ellipsis-h files_menu_open_button" aria-hidden="true"></i>
                <div class="files_menu_toggle " style="display: none;">
                    <div class="menu_row files_menu_download"><i class="fa fa-download" aria-hidden="true"></i> Download</div>
                    <div class="menu_row files_menu_rename" id=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Rename</div>
                    <div class="menu_row files_menu_delete" id=""><i class="fa fa-trash" aria-hidden="true"></i> Delete</div>
                </div>
            </div>
        </div>
        <div class="visible-xs files_drop_down col-xs-1 col-sm-1"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
        <div class="files_mobile_menu">
            <div class="row files_mobile_row">
                <div class="files_fav col-xs-4 col-sm-4"><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></div>
                <div class="files_share col-xs-4 col-sm-4"><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i></div>
                <div class="files_menu col-xs-4 col-sm-4"><i class="fa fa-ellipsis-h fa-lg files_menu_open_button" aria-hidden="true"></i>
                    <div class="files_menu_toggle " style="display: none;">
                        <div class="menu_row files_menu_download"><i class="fa fa-download" aria-hidden="true"></i> Download</div>
                        <div class="menu_row files_menu_rename" id=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Rename</div>
                        <div class="menu_row files_menu_delete" id=""><i class="fa fa-trash" aria-hidden="true"></i> Delete</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rename_action" tabindex="-1" role="dialog">
    <div class="modal-dialog "  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Rename</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" id="rename_action_input" placeholder="New Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-rename" id="rename_action_submit">Rename</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>