<div id="files_wrapper">
    <div class="progress_bar_wrapper">
        <label for="file_upload_progress_bar">File name: 'whahaha.jps' progress: 80%</label>
        <progress id="file_upload_progress_bar"  max="100" value="80"></progress>
    </div>
    <div class="files_header_row">
        <div class="files_header_fav">Favorite</div>
        <div class="files_header_check"><input type="checkbox"></div>
        <div class="files_header_name">Name<i class="fa fa-sort-asc" aria-hidden="true"></i></div>
        <div class="files_header_share">Share</div>
        <div class="files_header_menu">Menu</div>
        <div class="files_header_size">Size</div>
        <div class="files_header_mod">Modified</div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="files_block">

    </div>
</div>

<div id="files_row_base" style="display: none;">
    <div class="files_row">
        <div class="files_fav"></div>
        <div class="files_check"></div>
        <div class="files_name"></div>
        <div class="files_share"></div>
        <div class="files_menu"></div>
        <div class="files_size"></div>
        <div class="files_mod"></div>
        <div class="files_url" style="display: none"></div>
        <div class="files_type" style="display: none"></div>
        <div class="clearfix"></div>
    </div>
</div>