<div class="footer navbar-fixed-bottom">
    Footer
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/clouddrive/js/scripts.min.js') }}"></script>
    <script src="{{ asset('bundles/clouddrive/vendor/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('bundles/clouddrive/vendor/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>