<div class="footer navbar-fixed-bottom">
   <i class="fa fa-code"></i> Made with <i class="fa fa-heart"></i> by Ziombrains.
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/clouddrive/js/scripts.min.js') }}"></script>
    <script src="{{ asset('bundles/clouddrive/vendor/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('bundles/clouddrive/vendor/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>