<div class="list-group menu">
    <a class="list-group-item menu-item"><i class="fa fa-file" aria-hidden="true"></i> Files</a>
    <a class="list-group-item menu-item"><i class="fa fa-share-alt" aria-hidden="true"></i> Shared with you</a>
    <a class="list-group-item menu-item"><i class="fa fa-share-alt" aria-hidden="true"></i> Shared with others</a>
    <a class="list-group-item menu-item"><i class="fa fa-trash" aria-hidden="true"></i> Deleted</a>
    <a class="list-group-item menu-item"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a>
</div>