<div class="menu">
    <div class="menu_add_dropdown">
        <div class="menu_row menu_add_dropdown_open"><i class="fa fa-plus-square" aria-hidden="true"></i> Create</div>
        <div class="menu_add_dropdown_content" style="display: none">
            <hr class="menu_hr">
            <div class="menu_row" id="load_file_from_user_dialog">
                <form action="" id="load_file_from_user_dialog_form" method=post enctype=multipart/form-data>
                    <input type="hidden" name="{{ upload_session }}" value="1" />
                    <input type=file name=uploadfile id="load_file_from_user_dialog_form_input" style="display: none">
                    <button type="submit"><i class="fa fa-file" aria-hidden="true"></i> Add File</button>
                </form>
            </div>
            <div class="menu_row" id="create_folder_dialog"><i class="fa fa-folder" aria-hidden="true"></i> Create Folder</div>
        </div>
    </div>
    <hr class="menu_hr">
    <div class="menu_user_link">
        <div class="menu_row"><i class="fa fa-share-alt" aria-hidden="true"></i> User Awesome link</div>
    </div>
    <hr class="menu_hr">
    <div class="menu_static_link">
        <div class="menu_row"><i class="fa fa-file" aria-hidden="true"></i> Files</div>
        <div class="menu_row"><i class="fa fa-trash" aria-hidden="true"></i> Deleted</div>
        <div class="menu_row"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</div>
    </div>
</div>


<div class="modal fade" id="create_folder" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create new folder</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" id="create_folder_input" placeholder="Folder name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="create_folder_input_submit">Create</button>
            </div>
        </div>
    </div>
</div>