{% extends 'CloudDriveBundle:CloudDriveViews:layout.html.twig' %}

{% block content %}
    <div id="folder_path" style="display: none;">{{ folder_path }}</div>
    {% include 'CloudDriveBundle:CloudDriveViews/drive:navbar.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% include 'CloudDriveBundle:CloudDriveViews/drive:leftside.html.twig' %}
            </div>
            <div class="col-md-10">
                {% include 'CloudDriveBundle:CloudDriveViews/drive:breadcrumb.html.twig' %}
                {% include 'CloudDriveBundle:CloudDriveViews/drive:files.html.twig' %}
            </div>
        </div>
    </div>

    {% include 'CloudDriveBundle:CloudDriveViews/drive:footer.html.twig' %}
    {% include 'CloudDriveBundle:CloudDriveViews/drive:open_file_modale.html.twig' %}
    {% include 'CloudDriveBundle:CloudDriveViews/drive:share_file_modale.html.twig' %}
{% endblock %}

