{% extends 'CloudDriveBundle:CloudDriveViews:layout.html.twig' %}

{% block content %}
    {% include 'CloudDriveBundle:CloudDriveViews/drive:navbar.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            {% include 'CloudDriveBundle:CloudDriveViews/drive:leftside.html.twig' %}

            <div class="col-sm-10">
                {% include 'CloudDriveBundle:CloudDriveViews/drive:breadcrumb.html.twig' %}
                {% include 'CloudDriveBundle:CloudDriveViews/drive:files.html.twig' %}
            </div>
        </div>
    </div>

    {% include 'CloudDriveBundle:CloudDriveViews/drive:footer.html.twig' %}
{% endblock %}

