{% extends 'CloudDriveBundle:CloudDriveViews:layout.html.twig' %}
{% block navbar %}
{% endblock %}
{% block content %}<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CloudDrive</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/clouddrive/vendor/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/clouddrive/css/drive.css') }}">
    {% endblock %}
</head>
<body>
    {% include 'CloudDriveBundle:CloudDriveViews/drive:navbar.html.twig' %}
    {% include 'CloudDriveBundle:CloudDriveViews/drive:leftside.html.twig' %}
    {% include 'CloudDriveBundle:CloudDriveViews/drive:breadcrumb.html.twig' %}
    {% include 'CloudDriveBundle:CloudDriveViews/drive:files.html.twig' %}
    {% include 'CloudDriveBundle:CloudDriveViews/drive:footer.html.twig' %}
{% endblock %}
