<div class="modal fade" id="open_file" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="file_open_content">
                    <div id="image_view">
                        <img src="" alt="">
                    </div>
                    <div id="doc_view">
                        <pre><code class=""></code></pre>
                    </div>
                    <div id="other_view">
                        Sorry, but seem actually we are not support this format for preview try download and open on your PC. =(
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="open_file_download">Download</button>
            </div>
        </div>
    </div>
</div>