@font-face {
  font-family: 'Poiret One';
  src: url('../vendor/fonts/PoiretOne-Regular.ttf');
}

$font-stack: Helvetica, sans-serif;
$font-logo: 'Poiret One', helvetica;
$primary-color: #ecf0f1;
$second-color: #CD7A36;
$dark-color: #555;
body
{

  font-family: $font-stack;
}
.navbar
{
  border-radius: 0;
  border: none;
  .navbar-header
  {
    .navbar-brand {
      font-family: $font-logo;
      color:$second-color;
    }
  }
  .navbar-right
  {
    li
    {
      a{
        &:hover
        {
          color: $second-color;
        }
      }
    }
  }
}