$font-stack: Helvetica, sans-serif;
$font-logo: 'Poiret One', helvetica;
$primary-color: #f5f5f5;
$second-color: #CD7A36;
$dark-color: #222;

body
{
  font-family: $font-stack;
}
.navbar
{
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  .navbar-header
  {
    .navbar-brand {
      font-family: $font-logo;
      color:$second-color;
    }
  }
  .navbar-right
  {
    li
    {
      font-size: 14px;
      a{
        &:hover
        {
          color: $second-color;
        }

      }
      .navbar-btn
      {
        .btn-signout
        {
          border-radius: 0;
          border: 2px solid $second-color;
          background-color: $dark-color;
          color: $second-color;
          margin: auto;
          width:100%;
          &:hover
          {
            color:$dark-color;
            background-color: $second-color;
          }
        }
      }
    }
  }
}
.burger-menu
{
  border: none;
}
.navbar-toggle
{
  &:focus
  {
    color:$second-color;
    background-color: $dark-color;
  }
  &:hover {
    background-color: $dark-color;
  }
}
.footer
{
  margin-top: 5px;
  text-align: right;
  font-size: 18px;
  .fa-heart
  {
    color:darkred;
  }
}