#open_file {
  .modal-content {
    background-color: #333333;
  }
  .modal-header {
    border-bottom: 1px solid #000;
  }
  .modal-footer {
    border-top: 1px solid #000;
  }
  #image_view {
    text-align: center;
    img {
      max-width: 100%;
      background-color: #eee;
    }
  }
  #doc_view code {
    max-height: 500px;
  }
  #other_view {
    color: #fff;
    font-size: 14px;
  }
}

