#open_file {
  .modal-content
  {
    .modal-footer
    {
      .btn-download
      {
        background-color: $second-color;
        border: 1px solid $second-color;
        color: $primary-color;
      }
    }
  }
  #image_view {
    text-align: center;
    img {
      max-width: 100%;
      background-color: #eee;
    }
  }
  #doc_view code {
    max-height: 500px;
  }
  #other_view {
    font-size: 14px;
  }
}

